*{
    box-sizing: border-box;
}

header{
    background-color: rgb(106, 187, 173);
    margin-bottom: 25px;
    width: 100%;
}

body{
    background-color: rgb(230, 230, 230);
}

.bloc{
    padding: 5px;
    border-color: black;
    border-radius: 15px;
    background-color: rgb(163, 196, 196);
    margin: 10px;
    width: 48%;
    border: 3px solid red;
    font-size: larger;
}

.flex{
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}

.note{
    width: 80%;
    margin: auto;
    font-size: 50px;
}

.but{
    width: 85%;
    margin: auto;
}

input[type=submit]{
    justify-content: center;
    font-size: larger;
  background-color: #04AA6D;
  border: grey;
      border-radius: 15px;
  color: white;
  padding-left:50px;
  padding-right:50px;
  padding-top:10px;
  padding-bottom:10px;
  margin: 25px;
  cursor: pointer;
}

input[type=submit]:hover{
    background-color: #037c50;
    transition: 5ms;
}